body {
    font-size: 35px;
    font-family: 'Poiret One', 'cursive';
    background-image: url("../assets/images/matrix.jpg");
    background-size: cover;
    background-blend-mode: color-dodge;
   
 
}

.container {
    background-color:black;
    opacity: 2;
}

#name {
   font-size: 60px;
}

.btn-outline-info {
    font-size: 25px;
    width: 150px;
    padding: 15px;
}

.port-content {
    margin-inline-start: 0px;
}

.work {
    width: 300px;
    height: 200px;
    align-self: center;
}

.centered {
    width: 300px;
    
}
