body {
    font-size: 35px;
    font-family: 'Poiret One', 'cursive';
    background-image: url("../assets/images/matrix.jpg");
    background-size: cover;
    background-blend-mode: color-dodge;
 
}

#name {
   font-size: 60px;
}

.btn-outline-info {
    font-size: 25px;
    width: 150px;
    padding: 15px;
}

.port-content {
    margin-inline-start: 35px;
}

.work {
    width: 300px;
    height: 200px;
    align-self: center;
}
/*.flex {
    display: flex;
    flex-direction: column;
}*/

.centered {
    width: 300px;
    
}
